img {
  height: 100px;
  width: 100px;
}

.reloj {
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  padding: 20px;
  font-size: 5em;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}
